* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-right: -10px;
    margin-top: -20px;

    display: flex;
    justify-content: center;
    align-items: center;

    .searchbox {
        position:top;
        display: block;
        width: 100%;
        max-width: 60px;
        transition: 0.4s linear;
        overflow: hidden;
        transform: scale(0.55);

        .searchbox__input {
            display:block;
            appearance: none;
            width: 100%;
        
            border: none;
            outline: none;
            border-radius: 200px;
            
            background-color: beige;
        
            padding: 15px;
            color: beige;
            font-size:25px;
            cursor: pointer;
            transition: 0.4s linear;

            &::placeholder {
                color: beige;
            }
        }
        .searchbox__icon {
            right: calc(53px/2);
            top: 60%;
            transform: translate(50%, -50%) scale(1);

            width: 30px;
            height: 53px;
            margin-top: -40px;
            margin-left: -6px;
            pointer-events: none;
            
            path {
                fill: black;
                transition: 0.4s linear;
            }
        }
        &:focus-within {
            max-width: 700px;
            margin-right: -100px;
            margin-top: -1px;
            .searchbox__input {
                background-color: rgba(8, 49, 233, 0.459);
                padding-right: 80px;
                box-shadow: inset 0px 0px 100px rgba(14, 13, 10, 0.1);
                border-radius: 20px;
                font-size: 25px;
            }
            .searchbox__icon {
                margin-left: 300px;
                path {
                    fill: black;
                }
            }
        }
    }
}

