@import url("searchbar.css");
.titles {
    font-size: 60px;
    color: #251749;
}
.texts {
    font-size: 30px;
    color: #495579;
    font-family: 'PT Serif', serif;
}
.navmargin {
    margin-right: 30px;
}
.logomargin {
    margin-left: 30px;
}
.webcolor {
    background-color: #FFFFFF;
}
.topnb {
    margin-top: 150px;
    font-size: 40px;
}
.nb {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.headerbackground {
    background-color: beige;
    width: 100%;
}